@font-face {
    font-family: 'Udemy Sans';
    font-style: normal;
    font-weight: 400;
    /* To match token @font-weight-normal */
    font-display: fallback;
    src: local('Udemy Sans Regular'),
        local('UdemySans-Regular'),
        url('https://www.udemy.com/staticx/udemy/fonts/Udemy-Sans-Regular-v1.woff2') format('woff2');
}

@font-face {
    font-family: 'Udemy Sans';
    font-style: normal;
    font-weight: 700;
    /* To match token @font-weight-bold */
    font-display: fallback;
    src: local('Udemy Sans Bold'),
        local('UdemySans-Bold'),
        url('https://www.udemy.com/staticx/udemy/fonts/Udemy-Sans-Bold-v1.woff2') format('woff2');
}


body {
    font-family: 'Udemy Sans';
}


#udemyLogo {
    width: 91px;
    height: 34px;
}

header {
    padding: 10px 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: #1c1d1f;
    padding: 15px;
    border: 1px solid #e8ebed;

}

.searchBox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    padding: 15px 20px;
    flex-grow: 1;


}

.searchBox input {

    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
    width: 100%;
}

.searchBox input::placeholder {
    font-size: 14px;
    color: #6a6f73;
}

.searchBox span {
    opacity: 0.5;
}

.searchBox input:focus+span {
    opacity: 0.8;
}

#profileButeam {
    width: 36px;
    height: 36px;
    color: white;
    background-color: #1c1d1f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.alarm {
    width: 10px;
    height: 10px;
    background-color: #a435f0;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

#nav {
    background-color: #1c1d1f;
    padding: 12px 20px;
    position: relative;
}

#nav>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;

}

#nav>ul>li a {
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    transition: 0.2s all linear;

}

#nav>ul>li .menuArrow {
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: #f0f0f0;
    bottom: -20px;
    transform: rotate(45deg);
    left: calc(50% - 7px);
    display: none;
}

#nav>ul>li:hover ul+.position-relative .menuArrow {
    display: block;
}


#nav>ul>li>ul {
    display: flex;
    position: absolute;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    width: 100%;
    gap: 20px;
    background-color: #f0f0f0;
    left: 0;
    top: 100%;
    display: none;
}

#nav>ul>li:hover ul {
    display: inline-flex;
    z-index: 10;

}

#nav>ul>li>ul a {
    text-decoration: none;
    color: #1c1d1f;
    padding: 10px;
    transition: 0.2s all linear;


}

#nav>ul>li>ul a:hover {
    text-decoration: none;
    background-color: #1c1d1f;
    color: #f0f0f0;
    padding: 10px;
}

#heroSectioin {

    min-height: 400px;
    background-image: linear-gradient(140deg, yellow 60%, white 60%);
}

.salesBox {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    position: relative;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);

}

@media screen and (min-width:750px) {
    .salesBox {
        width: 400px;
        max-width: 100%;
        left: 80px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }

}

.salesBox h3 {
    font-weight: bold;
}

#s1 h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30pt;

}

#s1 h3 {
    font-family: 'Udemy Sans';
    line-height: 1.2;
    font-weight: bold;

}

#s1 a {
    color: #401b9c;
    font-weight: bold;
    font-size: 10pt;
}

.new {
    color: #113731;
    background-color: #acd2cc;
    font-weight: bold;
    font-size: 10pt;
}

.next-new {
    color: #6a6f73;
    font-size: 9pt;

}

.courses {
    max-width: 260px;

}

.courses h6 {
    font-weight: bold;
}

.courses p {
    font-size: 9pt;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #6a6f73;
    margin: 0;
}
.checked {
    color: orange;
  }
 #star{
    color: #b4690e;
    font-size: 12pt;
    font-weight: bold;

  }
  .num{
    color: #6a6f73;
    font-size: 9pt;

  }
  .pric{
    font-size: 13pt;
    font-weight: bold;

  }
  .best-seller{

    background-color: #eceb98;
    color: #3d3c0a;
    max-width: max-content;
    padding: 2px 5px;
    font-size: 9pt;
    font-weight: bold;
  }